.button {
  display: flex;
  padding: 20px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 120px;
  max-width: 160px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: #181818;
  display: flex;
  flex-direction: column;
}

.buttonActive {
  border-radius: 10px;
  border: 1px solid #41e278;
  background: rgba(65, 226, 120, 0.1);
}
