.root {
  background-color: #0f0f0f;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  margin: 0 12px 12px;
  flex-wrap: wrap;
  flex: 1 1 100%;
}

.isChild {
  margin: 0;
}

.line {
  padding: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  flex: 1 0 100%;
  gap: 10px;
}
.line:last-child {
  border-bottom: none;
}

.paramEnums {
  border-radius: 8px;
  background: #181818;
  padding: 10px;
  margin-top: 10px;
}
.paramEnumsUl {
  color: #c2c2c2;
  list-style-type: disc;
  margin-left: 16px;
}
.children {
  margin-top: 10px;
  padding: 0;
}
