.root {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #181818;
  flex-wrap: wrap;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  width: 100%;
  gap: 10px;
}

.noBorder {
  border: none;
}

.params {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 12px;
  width: 100%;
  gap: 10px;
}
