.welcomeText {
  font-size: 18px;
}

.stepTitle {
  font-size: 18px;
  font-weight: 600;
  color: white;
  margin-bottom: 12px;
}

.stepSection {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.bulletList {
  list-style: disc;
  padding-left: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.copyButton:hover {
  color: white;
}

.link {
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}
